
li {
  padding: 10px;
  margin-bottom: 5px;
}

.par {
  background-color: lightblue;
}

.impar {
  background-color: lightgray;
}

.primeira {
  font-weight: bold;
}

.ultima {
  border: 2px solid blue;
}