.projeto {
  padding: 15px;
  margin: 10px 0;
  border: 2px solid black;
}

.planejamento {
  background-color: lightgray;
}

.desenvolvimento {
  background-color: lightblue;
}

.testes {
  background-color: lightyellow;
}

.concluído {
  background-color: lightgreen;
}

.nota-boa {
  border-color: green;
}

.nota-baixa {
  border-color: red;
}